@inject IntraUmbracoProject.Helpers.AssetHelper AssetHelper

@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.MainPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = null;
}

@{
    var allCssAssets = AssetHelper.GetAllAssetPaths("css");
    var allJsAssets = AssetHelper.GetAllAssetPaths("js");
    var allImageAssets = AssetHelper.GetAllAssetPaths("img");
}


<!DOCTYPE html>
<html>
<head>
@*     <link rel="stylesheet" href="@AssetHelper.GetAssetPath("css", "app.*.css")">
    <link rel="stylesheet" href="@AssetHelper.GetAssetPath("css", "chunk-vendors.*.css")"> *@
    @foreach (var assetPath in allCssAssets)
    {
        @Html.Raw(AssetHelper.GenerateHtmlTagForAsset(assetPath))
    }
</head>
<body>
    <div id="app">
        <!-- Vue app  -->
        @foreach (var assetPath in allImageAssets)
        {
            @Html.Raw(AssetHelper.GenerateHtmlTagForAsset(assetPath))
        }

    </div>
    @foreach (var assetPath in allJsAssets)
    {
        @Html.Raw(AssetHelper.GenerateHtmlTagForAsset(assetPath))
    }
@*     <script src="@AssetHelper.GetAssetPath("js", "app.*.js")"></script>
    <script src="@AssetHelper.GetAssetPath("js", "chunk-vendors.*.js")"></script> *@
</body>
</html>
